<h1>Cambiar contraseña</h1>

<% if (error) { %><p style="color:red;"><%= error %></p><% } %>
<% if (success) { %><p style="color:green;"><%= success %></p><% } %>

<form method="POST" action="/changepassword">
  <label>Contraseña actual</label><br/>
  <input class="input" type="password" name="currentPassword" /><br/><br/>

  <label>Nueva contraseña</label><br/>
  <input class="input" type="password" name="newPassword" /><br/><br/>

  <button class="btn" type="submit">Actualizar</button>
</form>
